{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
 window.onload = function() {

     fix_ipv4_enabled = function(id_pref) {
         
         var method = $("#"+id_pref+"_ipv4_method").val();
         console.log("IPv4 method: " + method);

         /* by default assume static IP */
         var enableval = false;
         if (method == "DHCP") {
             enableval = true;
         }

         var ids = ["#"+id_pref+"_ipv4_address",
                    "#"+id_pref+"_ipv4_netmask",
                    "#"+id_pref+"_ipv4_gateway"];
         ids.forEach(function (entry) {
             $(entry).prop("disabled", enableval);
         });
     }

     validate_config = function() {

         var no_errors = true;
         var errors = [];

         /* validate wifi password */
         if ($("#wifi_psk_pass").val().length < 8) {
             errors.push("WPA-PSK too short, needs at least 8 characters");
             no_errors = false;
         }

         gen_alert = function(text) {
             return '<div class="alert alert-danger" role="alert">' + text + '</div>';
         }
         if (no_errors == false) {
             $("#modal_data").empty();
             $('#modal_error').modal('show');
             errors.forEach(function(entry) {
                 console.log("entry: " + entry);
                 var val = gen_alert(entry);
                 console.log("val: " + val);

                 $("#modal_data").append(val);
             });
         }
         return no_errors;
     }

     $("#eth_ipv4_method").change(function() {
         fix_ipv4_enabled("eth");
     });
     $("#wifi_ipv4_method").change(function() {
         fix_ipv4_enabled("wifi");
     });

     fix_ipv4_enabled("eth");
     fix_ipv4_enabled("wifi");

     $("#btn_config_submit").click(function() {
         if (validate_config() == true) {
             console.log("form seems valid");
             $("#form_config").submit();
             return true;
         } else {
             console.log("form invalid");
         }
         return false;
     });
     $("#btn_config_cancel").click(function() {
         return false;
     });
 }
</script>
{% end %}

{% block body %}
<div class="modal fade" id="modal_error" tabindex="-1"
     role="dialog" aria-labelledby="modal_error_label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_error_label">Configuration errors detected!</h4>
            </div>
            <div class="modal-body" id="modal_data">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <form method="post" id="form_config">

        <h3>Network</h3>
        <div class="container">
            {% for itype in network_entries.keys() %}
            {% if network_entries[itype] %}
            <div class="row">
                <h4>{{ itype.capitalize() }}</h4>
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            {% for entry in network_entries[itype] %}
                            <tr>
                                <td class="col-md-6">{{ entry['name'] }}</td>
                                <td>
                                    {% raw widget_render(entry) %}
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% end %}
            {% end %}
        </div>

        <button id="btn_config_submit" class="btn btn-primary">Apply</button>
        <button id="btn_config_cancel" class="btn">Cancel</button>
    </form>
</div>
{% end %}
