{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
 window.onload = function() {

     fix_ipv4_enabled = function(id_pref) {
         
         var method = $("#"+id_pref+"_ipv4_method").val();
         console.log("IPv4 method: " + method);

         /* by default assume static IP */
         var enableval = false;
         if (method == "DHCP") {
             enableval = true;
         }

         var ids = ["#"+id_pref+"_ipv4_address",
                    "#"+id_pref+"_ipv4_netmask",
                    "#"+id_pref+"_ipv4_gateway"];
         ids.forEach(function (entry) {
             $(entry).prop("disabled", enableval);
         });
     }

     validate_config = function() {
         return true;
     }
     $("#eth_ipv4_method").change(function() {
         fix_ipv4_enabled("eth");
     });
     $("#wifi_ipv4_method").change(function() {
         fix_ipv4_enabled("wifi");
     });

     fix_ipv4_enabled("eth");
     fix_ipv4_enabled("wifi");

     $("#btn_config_submit").click(function() {
         if (validate_config() == true) {
             console.log("form seems valid");
             $("#form_config").submit();
             return true;
         } else {
             console.log("form invalid");
         }
         return false;
     });
     $("#btn_config_cancel").click(function() {
         return false;
     });
 }
</script>
{% end %}

{% block body %}
<div>
    <h3>Settings</h3>

    <form method="post" id="form_config">
        <h3>System</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            {% for entry in system_entries %}
                            <tr>
                                <td class="col-md-6">{{ entry['name'] }}</td>
                                <td>
                                    {% raw widget_render(entry) %}
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h3>Network</h3>
        <div class="container">
            {% for itype in network_entries.keys() %}
            {% if network_entries[itype] %}
            <div class="row">
                <h4>{{ itype.capitalize() }}</h4>
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            {% for entry in network_entries[itype] %}
                            <tr>
                                <td class="col-md-6">{{ entry['name'] }}</td>
                                <td>
                                    {% raw widget_render(entry) %}
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% end %}
            {% end %}
        </div>

        <button id="btn_config_submit" class="btn btn-primary">Apply</button>
        <button id="btn_config_cancel" class="btn">Cancel</button>
    </form>
</div>
{% end %}
