{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
 window.onload = function() {
     $("#config_applied_alert").on("closed.bs.alert", function () {
         /* remove ?config_applied on close */
         location.href = location.toString().replace(location.search,
                                                     "");
     });
 }
</script>
{% end %}

{% block alerts %}
{% if config_applied == True %}
<div id="config_applied_alert" class="alert alert-success"
     style="margin-top: 20px;" role="alert">
    Configuration applied!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% end %}
{% end %}

{% block body %}
<div>
    <h3>Status</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        {% for entry in system_entries %}
                        <tr>
                            <td class="col-md-6">{{ entry['name'] }}</td>
                            <td>{% raw widget_render(entry) %}</td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3>Network</h3>
    <div class="container">
        {% for itype in network_entries.keys() %}
        {% if network_entries[itype] %}
        <div class="row">
            <h4>{{ itype.capitalize() }}</h4>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        {% for entry in network_entries[itype] %}
                        <tr>
                            <td class="col-md-6">{{ entry['name'] }}</td>
                            <td>{% raw widget_render(entry) %}</td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
        {% end %}
        {% end %}
    </div>
    
</div>
{% end %}
